:root {
  --primary-green: #63D77C ;
  --ending-soon: #F0CF61;
  --primary-light: #edffef;
  --text-main:  black;
  --text-on-dark: white;

  --bg-main: white;
  --bg-image: linear-gradient(white, gray);
  --bg-stat: #FBF6F6;

  --action-bg: #FBF6F6 ;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background: var(--bg-main);
  color: var(--text-main);
}

.header {
  background: var(--bg-stat);
  color: var(--text-main);
  padding: 0px 25px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons span {
  margin-left: 15px;
  cursor: pointer;
}

.container {
  display: flex;
  height: calc(100vh - 60px);
}

.card {
  width: 50%;
  background: var(--bg-main);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-header h2 {
  margin: 0;
}

.date {
  text-align: right;
  font-size: 20px;
  color: var(--text-main);
  display: flex;
  flex-direction: column;
}

.image-placeholder {
  height: 65%;
  background: var(--bg-image);
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.img-bottom{
  margin-top: auto;
}

.progress-bar {
  height: 5px;
  width: 150px;
  background: var(--primary-light);
}

.progress{
  width: 70%;
  height: 100%;
  background: var(--primary-green);
}

.status{
  font-size: 12px;
  margin-top: 5px;
}

.status.in-progress{
  color: var(--primary-green);
}

.stats {
  margin: 10px 0;
  background: var(--bg-stat);
  padding: 10px;
  color: var(--text-light);
  flex: 1;
}

.stats .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.dashboard {
  gap: 10px;
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.welcome {
  background: var(--primary-green);
  color: var(--text-on-dark);
  padding: 5px;
}

.add-btn{
  background: var(--primary-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-on-dark);
  padding: 20px;
}

.add-btn:hover{
  cursor: pointer;
}

.action {
  background: var(--action-bg);
  border: none;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  text-align: left;

}


.action:active {
  transform: scale(0.90);
}

.action:hover {
  background-color: var(--primary-light);
}

.filters{
  display: flex;
  gap: 10px;
}

.filter-btn{
  padding: 10px;
  border-radius: 20px;
  background: var(--action-bg);
  cursor: pointer;
}

.filter-btn.active{
  background: var(--primary-green);
  color: var(--text-on-dark);
}

.list{
  flex:1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-light);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.item:active{
  transform: scale(1.1);
}

.badge {
  font-size: 10px;
  padding: 4px 6px;
  border-radius: 10px;
}

.badge.in-progress {
  background: var(--primary-green);
}

.badge.soon {
  background: var(--ending-soon);
}
